<form name="myForm" 
(ngSubmit)="f.form.valid && onSubmit()" 
#f="ngForm" novalidate>
<nb-card>
  <nb-card-header></nb-card-header>
  <nb-card-body>
    <div class="form-row">
      <div class="form-group col-4">
        <label for="ddlChar">Field:</label>
      </div>
      <div class="form-group col-8">
        <nb-select fullWidth
        name="ddlField" 
        [(ngModel)]="selectedField"
        #vselectedField="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && vselectedField.invalid }"
        status="primary" >
          <nb-option *ngFor="let field of fields" [value]="field"> {{ field }}</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label for="txtFrom">Value From:</label>
      </div>
      <div class="form-group col-8">
        <input type="text" nbInput 
        name='txtFrom' 
        class="form-control"
        [(ngModel)]='txtFrom'
        #vtxtFrom="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && vtxtFrom.invalid }"
        >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label for="txtTo">Translates To:</label>
      </div>
      <div class="form-group col-8">
        <input type="text" nbInput 
        name='txtTo' 
        class="form-control" 
        [(ngModel)]='txtTo'
        #vtxtTo="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && vtxtTo.invalid }"
        >
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="form-row">
      <button nbButton 
      class="mr-2"
      name='btnAddTranslate2' 
      status='success'>Save</button>
      <button nbButton 
      (click)='onCloseModel1Clicked()' 
      name='btnCloseModal1' 
      status='danger'>Cancel</button>
    </div>
  </nb-card-footer>
</nb-card>

  

</form>