:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  font-size: xx-small !important;
  font-weight: bold !important;
}
:host ::ng-deep .ng-star-inserted {
  font-size: xx-small !important;
  font-weight: normal !important;
}
