<nb-card status="success">
  <nb-card-header>
    Confirm Sample Data To Import
  </nb-card-header>
  <nb-card-body>
    <div class="row mb-3">
      <div class="col-12">
        <nb-card status="danger">
          <nb-card-header>Note: You must click the 'Import Selected Rows' button to complete the import process!
          </nb-card-header>
          <nb-card-body>
            <div class="row mb-2">
              <div class="col-12">
                <nb-checkbox status="success" [(checked)]="wqxImport">Automatically submit imported data to EPA/WQX
                </nb-checkbox>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <button nbButton type="button" status="success" name="btnImport" class="mr-3"
                  (click)="onBtnImportClicked()">
                  <nb-icon icon="save-outline"></nb-icon> Import Selected Rows
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <!-- dataKey="tempMonlocIdx" -->
        <p-table [columns]="cols" [value]="importSamples" [resizableColumns]="true" [autoLayout]="true"
          dataKey="TempSampleIdx" [responsive]="true" [(selection)]="selectedimportSamples" selectionMode="multiple"
          (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
              <!--  <th>Import Status</th>
              <th>Import Errors</th>
              <th>Project ID</th>
              <th>Monloc ID</th>
              <th>Activity ID</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-importSample let-columns="columns">
            <tr>
              <td>
                <p-tableCheckbox [value]="importSample"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns">
                <span class="ui-column-title ui-column-title-button">
                  <button nbButton size="tiny" status="warning">{{col.header}}</button>
                </span>
                {{importSample[col.field]}}
              </td>
              <!-- <td>{{importSample.importStatusCd}}</td>
              <td>{{importSample.importStatusDesc}}</td>
              <td>{{importSample.ProjectId}}</td>
              <td>{{importSample.MonlocId}}</td>
              <td>{{importSample.ActivityId}}</td> -->
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row mb-3">
      <div class="col-12">
        <button nbButton type="button" status="danger" name="btnCancelImport" class="mr-3"
          (click)="onButtonCancelImportClicked()">
          <nb-icon icon="save-outline"></nb-icon> Cancel Import
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>