:host ::ng-deep .ui-column-title-button button {
  min-width: 100px;
}

:host ::ng-deep .float-right {
  display: block;
  float: right !important;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotateMe {
  animation: rotate 1.5s infinite linear;
}
