<nb-card status="success">
  <nb-card-header>
    MONITORING LOCATIONS
    <span class="float-right">
      <nb-checkbox (checkedChange)="onChkDeletedInd($event)" status="danger">Display Deleted Locations</nb-checkbox>
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <ng2-smart-table [settings]="monlocSetting" [source]="monlocSource" (deleteConfirm)="onDeleteConfirm($event)"
        (custom)="onCustom($event)">
      </ng2-smart-table>
    </div>
    <div class="row mt-3">
      <button nbButton (click)="onAddNew()" status="success" class="mr-3">Add New</button>
      <span class="float-right">
        <button nbButton (click)="onExcel()" status="info" class="mr-3">Excel</button>
        <button nbButton (click)="onConfig()" status="info">Config</button>
      </span>
    </div>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>