@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
:host ::ng-deep ng2-st-tbody-edit-delete { display: flex !important; height: 0 !important; }
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom { text-align: center !important; font-size: 1.0em !important; }
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { color: #5dcfe3; }

.failureNotification { font-size: 1.2em; color: Red; font-weight:bold }
.divHelp { border: 1px dashed #045c00; color:#045c00; margin: 8px 0px 8px 0px; padding: 8px 8px; font: 10pt Tahoma; background: #baeeb8; border-radius: 3px;}
.btnRibbon { border-radius:5px; clear:both; margin:3px 0; padding:4px 10px; background-color:#e9e9e9; border:1px dotted #7a97d2; min-height:24px; }
.btnRibbon:empty { display: none; }
