<nb-card status="success">
  <nb-card-header>PROJECTS</nb-card-header>
  <nb-card-body>
    <form>
      <div class="row">
        <p-table [columns]="cols" [value]="WqxProjects" [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:11em">Edit</th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
              <th style="width:11em">Send to EPA</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td style="text-align:center">
                <div class="row">
                  <div class="col">
                    <button nbButton size="tiny" status="success" (click)="onEditClicked(rowData)" class="mr-2">
                      <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                  </div>
                  <div class="col">
                    <button nbButton size="tiny" status="danger" (click)="onDeleteClicked(rowData)">
                      <nb-icon icon="close-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </td>
              <td *ngFor="let col of columns">
                <span class="ui-column-title ui-column-title-button">
                  <button nbButton size="tiny" status="warning">{{col.header}}</button>
                </span>
                {{rowData[col.field]}}
              </td>
              <td>
                <span class="ui-column-title ui-column-title-button">
                  <button nbButton size="tiny" status="warning">Send to EPA</button>
                </span>
                <div class="row">
                  <div class="col">
                    <button nbButton size="tiny" status="basic">
                      <div *ngIf="rowData['wqxInd'] === true">
                        <nb-icon icon="checkmark-square-2"></nb-icon>
                      </div>
                      <div *ngIf="rowData['wqxInd'] !== true">
                        <nb-icon icon="square"></nb-icon>
                      </div>

                    </button>
                    <!-- <nb-checkbox [checked]="rowData['wqxInd']" disabled></nb-checkbox> -->
                  </div>
                  <div class="col">
                    <div *ngIf="rowData['wqxInd'] === true">
                      <container-element [ngSwitch]="rowData['wqxSubmitStatus']">
                        <!-- the same view can be shown in more than one case -->
                        <some-element *ngSwitchCase="'U'">
                          <nb-icon icon="cloud-upload" class="rotateMe" nbTooltip="Click to view WQX History"
                            nbTooltipStatus="primary" (click)="onSendToEPA(rowData['projectIdx'])"></nb-icon>
                        </some-element>
                        <some-element *ngSwitchCase="'N'">
                          <button nbButton size="tiny" status="danger" (click)="onSendToEPA(rowData['projectIdx'])"
                            nbTooltip="Click to view WQX History" nbTooltipStatus="primary">
                            <nb-icon icon="alert-triangle"></nb-icon>
                          </button>
                        </some-element>
                        <some-other-element *ngSwitchCase="'Y'">

                          <button nbButton size="tiny" status="success" (click)="onSendToEPA(rowData['projectIdx'])"
                            nbTooltip="Click to view WQX History" nbTooltipStatus="primary">
                            <nb-icon icon="checkmark-square-2"></nb-icon>
                          </button>
                        </some-other-element>
                        <!--default case when there are no matches -->
                        <some-element *ngSwitchDefault>
                          <button nbButton size="tiny" status="basic" (click)="onSendToEPA(rowData['projectIdx'])"
                            nbTooltip="Click to view WQX History" nbTooltipStatus="primary">
                            <nb-icon icon="eye-outline"></nb-icon>
                          </button>

                        </some-element>
                      </container-element>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row mt-3">
        <button nbButton (click)="onAddNew()" size="tiny" class="mr-3" status="success">
          <nb-icon icon="plus-square-outline"></nb-icon> Add New
        </button>
        <span class="float-right">
          <button nbButton (click)="onExcel()" size="tiny" class="mr-3" status="info">
            <nb-icon icon="download-outline"></nb-icon> Excel
          </button>
          <button nbButton (click)="onConfig()" size="tiny" status="info">
            <nb-icon icon="settings-outline"></nb-icon> Config
          </button>
        </span>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>