<div class="row">
  <div class="col-12">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <nb-card status="success">
        <nb-card-header>ACTIVITY</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <nb-alert *ngIf="!lblMsgShow === false" status="danger">
                    {{ lblMsg }}</nb-alert>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1">Activity ID:</div>
                <div class="col-sm-3">
                  <input type="text" fieldSize="tiny" nbInput name="txtActivityID" [(ngModel)]="txtActivityID"
                    #vtxtActivityID="ngModel" [ngClass]="{
                      'is-invalid': f.submitted && vtxtActivityID.invalid
                    }" required maxlength="35" />
                  <div *ngIf="f.submitted && vtxtActivityID.invalid" class="invalid-feedback">
                    <div *ngIf="vtxtActivityID.errors.required">Required</div>
                  </div>
                </div>
                <div class="col-sm-1">Activity Date/Time</div>
                <div class="col-sm-4">
                  <!-- <input nbInput type="text" fieldSize="tiny" name="txtStartDate" [nbDatepicker]="txtStartDateModel"
                    [(ngModel)]="txtStartDate" #vtxtStartDate="ngModel" [ngClass]="{
                      'is-invalid': f.submitted && vtxtStartDate.invalid
                    }" required />
                  <nb-datepicker withSeconds #txtStartDateModel></nb-datepicker> -->
                  <p-calendar appendTo="body" [baseZIndex]="100000" [showIcon]="true" hideOnDateTimeSelect="true"
                    [(ngModel)]="txtStartDate" #vtxtStartDate="ngModel" [ngClass]="{
                    'is-invalid': f.submitted && vtxtStartDate.invalid
                  }" name="txtStartDate" showTime="true" hourFormat="24" required>
                  </p-calendar>
                  <div *ngIf="f.submitted && vtxtStartDate.invalid" class="invalid-feedback">
                    <div *ngIf="vtxtStartDate.errors.required">Required</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <input nbInput type="text" fieldSize="tiny" name="txtTimeZone" [(ngModel)]="txtTimeZone"
                    #vtxtTimeZone="ngModel" [ngClass]="{
                      'is-invalid': f.submitted && vtxtTimeZone.invalid
                    }" readonly />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <nb-checkbox status="danger" [checked]="chkActInd" (checkedChange)="actIndChkToggle($event)">
                    Active?
                  </nb-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col">Monitoring Location:</div>
                <div class="col">
                  <nb-select fullWidth status="primary" name="ddlMonLoc" [(ngModel)]="monlocSelected"
                    #vddlMonLoc="ngModel" [ngClass]="{
                      'is-invalid': f.submitted && vddlMonLoc.invalid
                    }" required>
                    <nb-option *ngFor="let monloc of monlocs" [value]="monloc.monlocIdx">
                      {{ monloc.monlocId }}</nb-option>
                  </nb-select>
                  <div *ngIf="f.submitted && vddlMonLoc.invalid" class="invalid-feedback">
                    <div *ngIf="vddlMonLoc.errors.required">Required</div>
                  </div>
                </div>
                <div class="col">Project</div>
                <div class="col">
                  <nb-select fullWidth status="primary" name="ddlProject" [(ngModel)]="projectSelected"
                    #vddlProject="ngModel" [ngClass]="{
                      'is-invalid': f.submitted && vddlProject.invalid
                    }" required>
                    <nb-option *ngFor="let project of projects" [value]="project.projectIdx">
                      {{ project.projectId }}</nb-option>
                  </nb-select>
                  <div *ngIf="f.submitted && vddlProject.invalid" class="invalid-feedback">
                    <div *ngIf="vddlProject.errors.required">Required</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <nb-checkbox status="danger" name="chkWQXInd" [checked]="chkWQXInd"
                    (checkedChange)="wqxIndChkToggle($event)">
                    Send to EPA?
                  </nb-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <nb-tabset fullWidth>
                <nb-tab tabTitle="General Info">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col">Activity Type:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlActivityType"
                            [(ngModel)]="activityTypeSelected" #vddlActivityType="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vddlActivityType.invalid
                            }" required>
                            <nb-option *ngFor="let activityType of activityTypes" [value]="activityType.value">
                              {{ activityType.value }}</nb-option>
                          </nb-select>
                          <div *ngIf="f.submitted && vddlActivityType.invalid" class="invalid-feedback">
                            <div *ngIf="vddlActivityType.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Activity Media:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlActivityMedia"
                            [(ngModel)]="activityMediaSelected" #vddlActivityMedia="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vddlActivityMedia.invalid
                            }" required>
                            <nb-option *ngFor="let activityMedia of activityMedias" [value]="activityMedia.value">
                              {{ activityMedia.value }}</nb-option>
                          </nb-select>
                          <div *ngIf="f.submitted && vddlActivityMedia.invalid" class="invalid-feedback">
                            <div *ngIf="vddlActivityMedia.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Activity Submedia:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlActivitySubMedia"
                            [(selected)]="activitySubMediaSelected">
                            <nb-option *ngFor="let activitySubMedia of activitySubMedias"
                              [value]="activitySubMedia.value">
                              {{ activitySubMedia.value }}</nb-option>
                          </nb-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Collection Method:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlSampColl" [(selected)]="sampCollSelected">
                            <nb-option *ngFor="let sampCall of sampCalls" [value]="sampCall.sampCollMethodIdx">
                              {{ sampCall.sampCollMethodId }}</nb-option>
                          </nb-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Sampling Component Name:</div>
                        <div class="col">
                          <input fieldSize="tiny" type="text" style="width:80%" nbInput name="txtSampCompName"
                            [(ngModel)]="txtSampCompName" #vtxtSampCompName="ngModel" [ngClass]="{
                                  'is-invalid': f.submitted && vtxtSampCompName.invalid
                                }" maxlength="120" />
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col">Activity End Date:</div>
                        <div class="col">
                          <!-- <input nbInput type="text" name="txtEndDate" [nbDatepicker]="txtEndDateModel"
                            [(ngModel)]="txtEndDate" />
                          <nb-datepicker #txtEndDateModel></nb-datepicker> -->
                          <p-calendar [inputStyle]="{'width':'80%'}" appendTo="body" [baseZIndex]="100000"
                            [showIcon]="true" hideOnDateTimeSelect="true" [(ngModel)]="txtEndDate"
                            #vtxtEndDate="ngModel" [ngClass]="{
                    'is-invalid': f.submitted && vtxtStartDate.invalid
                  }" name="txtEndDate" showTime="true" hourFormat="24">
                          </p-calendar>
                          <div *ngIf="f.submitted && vtxtEndDate.invalid" class="invalid-feedback">
                            <div *ngIf="vtxtEndDate.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Activity Depth:</div>
                        <div class="col">
                          <div class="row">
                            <div class="col-6">
                              <input fieldSize="tiny" type="text" style="width:80%" nbInput name="txtDepth"
                                [(ngModel)]="txtDepth" #vtxtDepth="ngModel" [ngClass]="{
                                  'is-invalid': f.submitted && vtxtDepth.invalid
                                }" />
                            </div>
                            <div class="col-6">
                              <nb-select fullWidth size="small" status="primary" name="ddlDepthUnit"
                                [(selected)]="depthUnitSelected">
                                <nb-option value="">&nbsp;</nb-option>
                                <nb-option value="m">m</nb-option>
                                <nb-option value="ft">ft</nb-option>
                              </nb-select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Collection Equip:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlEquip" [(selected)]="equipSelected">
                            <nb-option *ngFor="let equip of equips" [value]="equip.value">
                              {{ equip.value }}</nb-option>
                          </nb-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Activity ID User Supplied:</div>
                        <div class="col">
                          <input fieldSize="tiny" type="text" style="width:80%" nbInput name="txtActivityIDUserSupplied"
                            [(ngModel)]="txtActivityIDUserSupplied" #vtxtActivityIDUserSupplied="ngModel" [ngClass]="{
                                  'is-invalid': f.submitted && vtxtActivityIDUserSupplied.invalid
                                }" maxlength="55" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Activity Location Description Text:</div>
                        <div class="col">
                          <input fieldSize="tiny" type="text" style="width:80%" nbInput name="txtActivityLocDescText"
                            [(ngModel)]="txtActivityLocDescText" #vtxtActivityLocDescText="ngModel" [ngClass]="{
                                  'is-invalid': f.submitted && vtxtActivityLocDescText.invalid
                                }" maxlength="4000" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">Activity Comments:</div>
                    <div class="col-9">
                      <textarea fullWidth nbInput name="txtActComments" rows="2" [(ngModel)]="txtActComments"
                        #vtxtActComments="ngModel" [ngClass]="{
                          'is-invalid': f.submitted && vtxtActComments.invalid
                        }">
                      </textarea>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Activity Location">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col">
                          Latitude Measure
                        </div>
                        <div class="col">
                          <input fieldSize="tiny" type="text" style="width:80%" nbInput name="latMsr"
                            [(ngModel)]="latMsr" #vlatMsr="ngModel" [ngClass]="{
                                  'is-invalid': f.submitted && vlatMsr.invalid
                                }" maxlength="12" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          Horiz. Coll Method
                        </div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlActivityType"
                            [(ngModel)]="horizCollMethodSelected" #vddlHorizCollMethod="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vddlHorizCollMethod.invalid
                            }" required>
                            <nb-option *ngFor="let horizCollMethod of horizCollMethods" [value]="horizCollMethod.value">
                              {{ horizCollMethod.value }}</nb-option>
                          </nb-select>
                          <div *ngIf="f.submitted && vddlHorizCollMethod.invalid" class="invalid-feedback">
                            <div *ngIf="vddlHorizCollMethod.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col">
                          Longitude Measure
                        </div>
                        <div class="col">
                          <input fieldSize="tiny" type="text" style="width:80%" nbInput name="longMsr"
                            [(ngModel)]="longMsr" #vlongMsr="ngModel" [ngClass]="{
                                  'is-invalid': f.submitted && vlongMsr.invalid
                                }" maxlength="14" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          Horiz. Co. Ref. Datum
                        </div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlhorizRefDatums"
                            [(ngModel)]="horizRefDatumSelected" #vhorizRefDatumSelected="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vhorizRefDatumSelected.invalid
                            }" required>
                            <nb-option *ngFor="let horizRefDatum of horizRefDatums" [value]="horizRefDatum.value">
                              {{ horizRefDatum.value }}</nb-option>
                          </nb-select>
                          <div *ngIf="f.submitted && vhorizRefDatumSelected.invalid" class="invalid-feedback">
                            <div *ngIf="vhorizRefDatumSelected.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Biological Info">
                  <div class="row">
                    <div class="col-6">
                      <div class="row">
                        <div class="col">Assemblage Sampled:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlAssemblage" [(selected)]="assemblageSelected">
                            <nb-option *ngFor="let assemblage of assemblages" [value]="assemblage.value">
                              {{ assemblage.value }}</nb-option>
                          </nb-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Sampling Component:</div>
                        <div class="col">
                          <input type="text" fieldSize="tiny" nbInput name="txtSamplingComponent"
                            [(ngModel)]="txtSamplingComponent" #vtxtSamplingComponent="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vtxtSamplingComponent.invalid
                            }" maxlength="15" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Measure Value:</div>
                        <div class="col">
                          <input type="text" fieldSize="tiny" nbInput name="txtMeasureValue"
                            [(ngModel)]="txtMeasureValue" #vtxtMeasureValue="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vtxtMeasureValue.invalid
                            }" maxlength="15" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Habitat Selection Method:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlHabitatSelMethod"
                            [(selected)]="habitatSelMethodSelected">
                            <nb-option *ngFor="let habitatSelMethod of habitatSelMethods"
                              [value]="habitatSelMethod.value">
                              {{ habitatSelMethod.value }}
                            </nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col">Collection Duration:</div>
                        <div class="col">
                          <div class="row">
                            <div class="col6">
                              <input fieldSize="tiny" type="text" style="width:80%" nbInput name="txtBioDuration"
                                [(ngModel)]="txtBioDuration" #vtxtBioDuration="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vtxtBioDuration.invalid
                            }" maxlength="12" />
                            </div>
                            <div class="col6">
                              <nb-select fullWidth size="small" status="primary" name="ddlBioDurUnit"
                                [(selected)]="bioDurUnitSelected">
                                <nb-option value="">&nbsp;</nb-option>
                                <nb-option value="seconds">seconds</nb-option>
                                <nb-option value="minutes">minutes</nb-option>
                                <nb-option value="hours">hours</nb-option>
                              </nb-select>
                            </div>
                          </div>


                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Components Sequence #:</div>
                        <div class="col">
                          <input type="text" fieldSize="tiny" nbInput name="txtSampComponentSeq"
                            [(ngModel)]="txtSampComponentSeq" #vtxtSampComponentSeq="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vtxtSampComponentSeq.invalid
                            }" maxlength="2" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Gear Procedure Unit Code:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlGearProcUnit"
                            [(selected)]="gearProcUnitSelected">
                            <nb-option *ngFor="let gearProcUnit of gearProcUnits" [value]="gearProcUnit.value">
                              {{ gearProcUnit.value }}</nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Sample Info">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">Method Name:</div>
                        <div class="col">
                          <input type="text" nbInput name="txtMethodName" [(ngModel)]="txtMethodName"
                            #vtxtMethodName="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vtxtMethodName.invalid
                            }" maxlength="250" required />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Thermal Preservative Used Name:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlThermalPreservativeUsedName"
                            [(selected)]="thermalPreservativeUsedNameSelected">
                            <nb-option *ngFor="let thermalPreservativeUsedName of thermalPreservativeUsedNames"
                              [value]="thermalPreservativeUsedName.value">
                              {{ thermalPreservativeUsedName.value }}</nb-option>
                          </nb-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Hydrologic Event:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlHydrologicEvent"
                            [(selected)]="hydrologicEventSelected">
                            <nb-option *ngFor="let hydrologicEvent of hydrologicEvents" [value]="hydrologicEvent.value">
                              {{ hydrologicEvent.value }}

                            </nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col">Sample Container Label Name:</div>
                        <div class="col">
                          <input type="text" nbInput name="txtSampContLabName" [(ngModel)]="txtSampContLabName"
                            #vtxtSampContLabName="ngModel" [ngClass]="{
                              'is-invalid':
                                f.submitted && vtxtSampContLabName.invalid
                            }" maxlength="250" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">Hydrologic Condition:</div>
                        <div class="col">
                          <nb-select fullWidth status="primary" name="ddlHydrologicCondition"
                            [(selected)]="hydrologicConditionSelected">
                            <nb-option *ngFor="let hydrologicCondition of hydrologicConditions"
                              [value]="hydrologicCondition.value">
                              {{ hydrologicCondition.value }}

                            </nb-option>
                          </nb-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </nb-tab>
              </nb-tabset>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-6">
                  <button nbButton status="success" class="mr-2" [disabled]="!(f.form.valid && canUserEdit)">
                    <nb-icon icon="save-outline"></nb-icon>Save
                  </button>
                </div>
                <div class="col-6">
                  <button nbButton type="button" status="danger" (click)="onExitClicked()">
                    <nb-icon icon="close-square-outline"></nb-icon>Exit
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-4">Result Type:</div>
                <div class="col-8">
                  <nb-select fullWidth status="primary" name="ddlEntryType" [(ngModel)]="entryTypeSelected"
                    #vddlEntryType="ngModel" [ngClass]="{
                'is-invalid':
                  f.submitted && vddlEntryType.invalid
              }" required>
                    <nb-option value="C">Chemical (default)</nb-option>
                    <nb-option value="H">Habitat Assessment</nb-option>
                    <nb-option value="T">Taxonomy Counts</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col-4">
                  <label nbLabel>Last Modified:</label>
                </div>
                <div class="col-8">
                  <label ngDefaultControl name="lblModifyDate" [(ngModel)]="lblModifyDate" nbLabel>{{ lblModifyDate |
                    date:'medium' }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showResults === true">
            <div class="col-12">
              <nb-card>
                <nb-card-header>RESULTS</nb-card-header>
                <nb-card-body>
                  <!-- <ng2-smart-table [settings]="activitySetting" [source]="results"
                    (deleteConfirm)="onDeleteConfirm($event)" (custom)="onCustom($event)"
                    (editConfirm)="onSaveConfirm($event)">
                  </ng2-smart-table> -->
                  <p-table #resultDt [value]="results" dataKey="resultIdx" editMode="row" [autoLayout]="true">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width:8em"></th>
                        <th>Characteristic</th>
                        <th *ngIf="checkColShow('Taxonomy') === true">Taxonomy</th>
                        <th>Result</th>
                        <th>Unit</th>
                        <th>Detection Limit</th>
                        <th>Analytical Method</th>
                        <th>Samp Fraction</th>
                        <th>Value Type</th>
                        <th>Status</th>
                        <th>Lab Analysis Date</th>
                        <th>PQL</th>
                        <th>Lower Quant Limit</th>
                        <th>Upper Quant Limit</th>
                        <th>Biological Intent</th>
                        <th>Frequency Class</th>
                        <th>Comment</th>
                        <th>Target Count</th>
                        <th>Proportion Samp Proc</th>
                        <th>Result Samp Point Type</th>
                        <th>Result Samp Point Place In Series</th>
                        <th>Result Samp Point Comment Text</th>
                        <th>Record Identifier User Supplied</th>
                        <th>Subject Taxonomic Name User Supplied</th>
                        <th>Subject Taxonomic NameUser Supplied Ref Text</th>
                        <th>Group Summary Count</th>
                        <th>Functional Feeding Group Name</th>
                        <th>Comparable Anal Method Identifier</th>
                        <th>Comparable Anal Method Identifier Contaxt</th>
                        <th>Comparable Anal Method Modification Text</th>
                        <th>Lab Comment Text</th>
                        <th>Detection Quant Limit Comment Text</th>
                        <th>Lab Samp Split Ratio</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                      <tr [pEditableRow]="rowData">
                        <td style="text-align:center">
                          <div class="row">
                            <div class="col"><button nbButton ghost status="basic" *ngIf="!editing"
                                (click)="onRowEditInit(rowData)" pInitEditableRow style="padding: 0px;font-size:1rem;">
                                <nb-icon icon="edit-outline"></nb-icon>
                              </button></div>
                            <div class="col"><button nbButton ghost status="basic" *ngIf="!editing"
                                (click)="onRowDelete(rowData)" pInitEditableRow style="padding: 0px;font-size:1rem;">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                              </button></div>
                            <div class="col"><button nbButton ghost status="success" *ngIf="editing"
                                (click)="onRowEditSave(rowData)" pSaveEditableRow
                                style="margin-right: .5em;padding: 0px;font-size:1rem;">
                                <nb-icon icon="checkmark"></nb-icon>
                              </button></div>
                            <div class="col"><button nbButton ghost status="danger" *ngIf="editing"
                                (click)="onRowEditCancel(rowData, ri)" pCancelEditableRow
                                style="padding: 0px;font-size:1rem;">
                                <nb-icon icon="close-outline"></nb-icon>
                              </button></div>
                          </div>

                          <!--  <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                            class="ui-button-info" (click)="onRowEditInit(rowData)"></button> 
                          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                            class="ui-button-success" style="margin-right: .5em"
                            (click)="onRowEditSave(rowData)"></button>
                          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                            class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button> -->
                        </td>
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="charNameList" [(ngModel)]="rowData.charName" name="charName"
                                appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.charName}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td *ngIf="checkColShow('Taxonomy') === true">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="bioSubjectTaxonomyList" [(ngModel)]="rowData.bioSubjectTaxonomy"
                                name="bioSubjectTaxonomy" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.bioSubjectTaxonomy}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.resultMsr" name="result" maxlength="12"
                                required>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.resultMsr}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Unit-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="unitList" [(ngModel)]="rowData.resultMsrUnit" name=" resultMsrUnit"
                                appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.resultMsrUnit}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Detection Limit-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.resultDetectCondition"
                                name="resultDetectCondition" maxlength="12" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.resultDetectCondition}} {{rowData.resultMsr}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Analytical Method-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="analMethodList" [(ngModel)]="rowData.analyticMethodIdx"
                                name="analyticMethodIdx" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              <!-- {{ rowData.analyticMethodIdxNavigation.analyticMethodCtx  }}
                              {{ rowData.analyticMethodIdxNavigation.analyticMethodId  }} -->
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Samp Fraction-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="sampFractionList" [(ngModel)]="rowData.resultSampFraction"
                                name="resultSampFraction" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.resultSampFraction }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Value Type-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="valueTypeList" [(ngModel)]="rowData.resultValueType"
                                name="resultValueType" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.resultValueType }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Status-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="statusList" [(ngModel)]="rowData.resultStatus" name="resultStatus"
                                appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.resultStatus }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Lab Analysis Date-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <!-- <input pInputText type="text" [(ngModel)]="rowData.labAnalysisStartDt"
                                name="labAnalysisStartDt"> -->
                              <p-calendar dataType="string" [(ngModel)]="rowData.labAnalysisStartDt"
                                name="labAnalysisStartDt" appendTo="body" [baseZIndex]="100000"></p-calendar>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.labAnalysisStartDt | date:'shortDate' }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--PQL-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.pql" name="pql" maxlength="12">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.pql }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Lower Quant Limit-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.lowerQuantLimit" name="lowerQuantLimit"
                                maxlength="12">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.lowerQuantLimit }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Upper Quant Limit-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.upperQuantLimit" name="upperQuantLimit"
                                maxlength="12">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.upperQuantLimit }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Biological Intent-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="bioIntentList" [(ngModel)]="rowData.bioIntentName"
                                name="bioIntentName" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.bioIntentName }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Frequency Class-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="freqClassList" [(ngModel)]="rowData.freqClassCode"
                                name="freqClassCode" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.freqClassCode }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Comment-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.resultComment" name="resultComment">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.resultComment }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Target Count -->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="targetCountList" [(ngModel)]="rowData.targetCount"
                                name="targetCount" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.targetCount}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!-- ProportionSampProcNumeric -->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.proportionSampProcNumeric"
                                name="proportionSampProcNumeric">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.proportionSampProcNumeric }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--Result Samp Point Type -->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <p-dropdown [options]="resultSampPointTypeList" [(ngModel)]="rowData.resultSampPointType"
                                name="targetCount" appendTo="body">
                              </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData.resultSampPointType}}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--resultSampPointPlaceInSeries-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.resultSampPointPlaceInSeries"
                                name="resultSampPointPlaceInSeries" maxlength="60">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.resultSampPointPlaceInSeries }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--resultSampPointCommentText-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.resultSampPointCommentText"
                                name="resultSampPointCommentText" maxlength="4000">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.resultSampPointCommentText }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--recordIdentifierUserSupplied-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.recordIdentifierUserSupplied"
                                name="recordIdentifierUserSupplied" maxlength="60">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.recordIdentifierUserSupplied }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--subjectTaxonomicNameUserSupplied-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.subjectTaxonomicNameUserSupplied"
                                name="subjectTaxonomicNameUserSupplied" maxlength="255">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.subjectTaxonomicNameUserSupplied }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--subjectTaxonomicNameUserSuppliedRefText-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text"
                                [(ngModel)]="rowData.subjectTaxonomicNameUserSuppliedRefText"
                                name="subjectTaxonomicNameUserSuppliedRefText" maxlength="255">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.subjectTaxonomicNameUserSuppliedRefText }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--groupSummaryCount-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.groupSummaryCount"
                                name="groupSummaryCount" maxlength="60">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.groupSummaryCount }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--functionalFeedingGroupName-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.functionalFeedingGroupName"
                                name="functionalFeedingGroupName" maxlength="30">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.functionalFeedingGroupName }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--comparableAnalMethodIdentifier-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.comparableAnalMethodIdentifier"
                                name="comparableAnalMethodIdentifier" maxlength="35">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.comparableAnalMethodIdentifier }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--comparableAnalMethodIdentifierCtx-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.comparableAnalMethodIdentifierCtx"
                                name="comparableAnalMethodIdentifierCtx" maxlength="120">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.comparableAnalMethodIdentifierCtx }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--comparableAnalMethodModificationText-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.comparableAnalMethodModificationText"
                                name="comparableAnalMethodModificationText" maxlength="4000">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.comparableAnalMethodModificationText }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--labCommentText-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.labCommentText" name="labCommentText"
                                maxlength="4000">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.labCommentText }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--detectionQuantLimitCommentText-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.detectionQuantLimitCommentText"
                                name="detectionQuantLimitCommentText" maxlength="4000">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.detectionQuantLimitCommentText }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                        <!--labSampSplitRatio-->
                        <td>
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.labSampSplitRatio"
                                name="labSampSplitRatio" maxlength="60">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{ rowData.labSampSplitRatio }}
                            </ng-template>
                          </p-cellEditor>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-info" pAddRow [table]="resultDt"
                    [newRow]="newRow()">Add</button> -->
                  <button nbButton status="info" size="tiny" type="button" pAddRow [table]="resultDt"
                    [newRow]="newRow()">
                    <nb-icon icon="plus-square-outline"></nb-icon>Add
                  </button>
                </nb-card-body>
                <nb-card-footer>
                  <button nbButton size="tiny">
                    <nb-icon icon="download-outline"></nb-icon>Excel
                  </button>
                </nb-card-footer>
              </nb-card>
            </div>
          </div>
          <div class="row" *ngIf="showMatrics === true">
            <div class="col-12">
              <nb-card>
                <nb-card-header>Activity Metrics</nb-card-header>
                <nb-card-body></nb-card-body>
                <nb-card-footer></nb-card-footer>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer></nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>