<nb-card>
  <nb-card-header>General Application Settings</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col">
        <nb-alert status="success">This page allows administrators to edit global application settings.
        </nb-alert>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-table [columns]="cols" [value]="appSettings" dataKey="settingIdx" editMode="row" [autoLayout]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:12em"></th>
              <th>ID</th>
              <th style="min-width: 14em">Setting Name</th>
              <th style="min-width: 14em">Description</th>
              <th>Setting Value</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-appSetting let-columns="columns" let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="appSetting">
              <td style="text-align:center">
                <div class="row">
                  <div class="col" *ngIf="!editing"><button nbButton size="tiny" status="success"
                      (click)="onRowEditInit(appSetting)" pInitEditableRow>
                      <nb-icon icon="edit-outline"></nb-icon>
                    </button></div>
                  <!-- <div class="col"><button nbButton size="tiny" status="danger" 
                    *ngIf="!editing" (click)="onRowDelete(appSetting)" pInitEditableRow>
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button></div> -->
                  <div class="col" *ngIf="editing"><button nbButton size="tiny" status="success"
                      (click)="onRowEditSave(appSetting)" pSaveEditableRow style="margin-right: .5em">
                      <nb-icon icon="checkmark"></nb-icon>
                    </button></div>
                  <div class="col" *ngIf="editing"><button nbButton size="tiny" status="danger"
                      (click)="onRowEditCancel(appSetting, ri)" pCancelEditableRow>
                      <nb-icon icon="close-outline"></nb-icon>
                    </button></div>
                </div>

              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    {{appSetting.settingIdx}}
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{appSetting.settingIdx}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" style="width: 100%" [(ngModel)]="appSetting.settingName"
                      name="settingName">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{appSetting.settingName}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" style="width: 100%" [(ngModel)]="appSetting.settingDesc"
                      name="settingDesc">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{appSetting.settingDesc}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" style="width: 100%" [(ngModel)]="appSetting.settingValue"
                      name="settingValue">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{appSetting.settingValue}}
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>