<form>
  <nb-card status="success">
    <nb-card-header>BULK IMPORT DATA</nb-card-header>
    <nb-card-body>
      <nb-stepper orientation="vertical" [linear]="true" disableStepNavigation="true" #stepper
        (stepChanged)="handleChange($event)">
        <nb-step label="Step 1:">
          <div class="row mb-3">
            <div class="col-12">
              <h4>Select Data to Import</h4>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-3" style="padding-top:8px">Data to Import:</div>
            <div class="col-sm-5">
              <nb-select fullWidth [(selected)]="selectedImportType">
                <nb-option value="">-- select option --</nb-option>
                <nb-option value="M">Monitoring Locations</nb-option>
                <nb-option value="S">Activities</nb-option>
                <nb-option value="I">Bio Metrics/Indices</nb-option>
              </nb-select>
            </div>
            <div class="col-sm-4" style="padding-top:8px">
              <button *ngIf="selectedImportType === 'M'" nbButton size="tiny" status="success"
                (click)="downloadFile('MonLoc_ImportTemplate.xlsx')">
                <nb-icon icon="download-outline"></nb-icon>Download Default Import Template
              </button>
              <button *ngIf="selectedImportType === 'S'" nbButton size="tiny" status="success"
                (click)="downloadFile('Samp_ImportTemplate.xlsx')">
                <nb-icon icon="download-outline"></nb-icon>Download Default Import Template
              </button>
              <button *ngIf="selectedImportType === 'I'" nbButton size="tiny" status="success"
                (click)="downloadFile('SampBio_ImportTemplate.xlsx')">
                <nb-icon icon="download-outline"></nb-icon>Download Default Import Template
              </button>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <button nbButton size="tiny" nbStepperNext (click)="onNext1Clicked()">Next Step</button>
            </div>
          </div>
        </nb-step>
        <nb-step label="Step 2:">
          <h4>Define Data Import Rules</h4>
          <div class="row mb-3">
            <div class="col-sm-4">Set Global Import Rules:</div>
            <div class="col-sm-8">
              <button nbButton type="button" size="tiny" status="success" name="btnGlobalRules" class="mr-3"
                (click)="onGlobalRulesClicked()">
                <nb-icon icon="save-outline"></nb-icon> Global Import Rules (optional)
              </button>
            </div>
          </div>

          <div *ngIf="isCITRadioButtonShow === 'show'">
            <div class="row mb-3">
              <div class="col-6">Use Custom Import Template:</div>
              <div class="col-6">
                <nb-radio-group [(ngModel)]="selectedCustomImportTemplate" layout="row" name="CustomImportTemplate"
                  (valueChange)="onCITRBChanged($event)">
                  <nb-radio value="1">No</nb-radio>
                  <nb-radio value="2">Yes</nb-radio>
                </nb-radio-group>
              </div>
            </div>
          </div>
          <div *ngIf="isCTSShow === 'show'">
            <div class="row mb-3">
              <div class="col-sm-6">
                <nb-select fullWidth status="primary" name="ddlTemplates" [(selected)]="selectedTemplateId">
                  <nb-option *ngFor="let template of templates" [value]="template.templateId">
                    {{ template.templateName }}
                  </nb-option>
                </nb-select>
              </div>
              <div class="col-sm-6">
                <button nbButton size="tiny" (click)="onECITClicked()">Edit Custom Import Templates</button>
              </div>
            </div>

          </div>
          <div *ngIf="isProjectShow === 'show'">
            <div class="row mb-3">
              <div class="col-6">
                Import to Project:
              </div>
              <div class="col-6">
                <nb-select fullWidth status="primary" name="ddlProject" [(selected)]="projectSelected">
                  <nb-option *ngFor="let project of projects" [value]="project.projectIdx">{{ project.projectId }}
                  </nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <button nbButton size="tiny" nbStepperNext (click)="onNext2Clicked()">Next Step</button>
            </div>
          </div>
        </nb-step>
        <nb-step label="Step 3:">
          <h4>Paste Data</h4>
          <div class="row mb-3">
            <div class="col-12">
              Copy and paste your data from a spreadsheet into the text area below:
              <textarea fullWidth nbInput status="success" name="txtImportData" rows="5" [(ngModel)]="txtImportData"
                style="font-weight: normal;font-size: smaller;">
              </textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <button nbButton type="button" size="tiny" status="success" name="btnContinue" class="mr-3"
                (click)="onBtnContinueClick()">
                <nb-icon icon="save-outline"></nb-icon> Continue
              </button>
            </div>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" size="tiny" status="danger" name="btnCancelImport" class="mr-3"
        (click)="onBtnCancelImportClicked()">
        <nb-icon icon="save-outline"></nb-icon> Cancel Import
      </button>
      <button nbButton type="button" (click)="tempFunc()">Test</button>
    </nb-card-footer>
  </nb-card>
</form>