.smallFont {
  font-size: small;
}
.numberCircle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 4px;

  background: #fff;
  border: 1px solid #007bff;
  color: #000;
  text-align: center;

  font: 16px Arial, sans-serif;
}
