<div class="row">
  <div class="col-md-4">

    <div class="row smallFont">
      <div class="col">
        <nb-card status="success" size="medium" fullWidth>
          <nb-card-header>Data Collection Metrics</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col">
                <div class="row smallFont">
                  <div class="col-10">
                    Organizations Using Open Waters:
                  </div>
                  <div class="col-2">
                    <label for="lblOrg" style="font-weight:bold" class="badge badge-info">{{lblOrg}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div *ngIf='pnlOrgSpecificShow'>
                  <div class="row">
                    <div class="col">
                      <label for="lblOrgName">{{lblOrgName}} Data Counts</label>
                    </div>
                  </div>
                  <div class="ml-4">
                    <div class="row smallFont">
                      <div class="col-10">
                        <div class="fldLbl" style="width:250px; ">Number of Projects: </div>

                      </div>
                      <div class="col-2">
                        <label for="lblProject2" style="font-weight:bold"
                          class="badge badge-info">{{lblProject2}}</label>
                      </div>
                    </div>
                    <div class="row smallFont">
                      <div class="col-10">
                        <div class="fldLbl" style="width:250px; ">Number of Samples: </div>

                      </div>
                      <div class="col-2">
                        <label for="lblSamp" style="font-weight:bold" class="badge badge-info">{{lblSamp}}</label>
                      </div>
                    </div>
                    <div class="row smallFont">
                      <div class="col-10">
                        <div class="fldLbl" style="width:250px; ">Samples Pending Transfer to EPA: </div>

                      </div>
                      <div class="col-2">
                        <label for="lblSampPend2" style="font-weight:bold"
                          class="badge badge-info">{{lblSampPend2}}</label>
                      </div>
                    </div>
                    <div class="row smallFont">
                      <div class="col-10">
                        <div class="fldLbl" style="width:250px; ">Number of Results: </div>

                      </div>
                      <div class="col-2">
                        <label for="lblResult" style="font-weight:bold" class="badge badge-info">{{lblResult}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer></nb-card-footer>
        </nb-card>
      </div>

    </div>

  </div>
  <div class="col-md-8">
    <nb-card size="medium">
      <nb-card-body>
        <!-- 
          <nb-stepper orientation="vertical" [linear]="true" disableStepNavigation="true" #stepper
          (stepChanged)="handleStepChanged($event)">
         -->
        <nb-stepper orientation="vertical" #stepper (selectionChange)="handleStepChanged($event)">
          <nb-step label="Create or Join an Organization" stepid="0">
            <h4>Create or Join an Organization</h4>
            <label *ngIf='lblWiz1Show'>{{lblWiz1}}</label>
            <button nbButton status='info' size="small" *ngIf='btnWiz1Show' (click)='onBtnWiz1Click()'>
              <nb-icon *ngIf="btnWiz1 === 'View'" icon="eye-outline"></nb-icon>
              <nb-icon *ngIf="btnWiz1 !== 'View'" icon="play-circle-outline"></nb-icon>
              {{btnWiz1}}
            </button>
          </nb-step>
          <nb-step label="Authorize Open Waters to Submit Data" stepid="1">
            <h4>Authorize Open Waters to Submit Data</h4>
            <label *ngIf='lblWiz2Show'>{{lblWiz2}}</label>
            <button nbButton status='info' size="small" *ngIf='btnWiz2Show' (click)='onBtnWiz2Click()'>
              <nb-icon *ngIf="btnWiz2 !== 'Get Started'" icon="plus-square-outline"></nb-icon>
              <nb-icon *ngIf="btnWiz2 === 'Get Started'" icon="play-circle-outline"></nb-icon>
              {{btnWiz2}}
            </button>
          </nb-step>
          <nb-step label="Enter 1 or more monitoring locations" stepid="2">
            <h4>Enter 1 or more monitoring locations</h4>
            <label *ngIf='lblWiz3Show'>{{lblWiz3}}</label>
            <button nbButton class="mr-3" status='info' size="small" *ngIf='btnWiz3Show' (click)='onBtnWiz3Click()'>
              <nb-icon *ngIf="btnWiz3 === 'View'" icon="eye-outline"></nb-icon>
              <nb-icon *ngIf="btnWiz3 !== 'View'" icon="play-circle-outline"></nb-icon>
              {{btnWiz3}}
            </button>
            <button nbButton status='info' size="small" *ngIf='btnWiz3bShow' (click)='onBtnWiz3bClick()'>
              <nb-icon icon="upload-outline"></nb-icon>Import
            </button>
          </nb-step>
          <nb-step label="Enter 1 or more projects" stepid="3">
            <h4>Enter 1 or more projects</h4>
            <label *ngIf='lblWiz4Show'>{{lblWiz4}}</label>
            <button nbButton class="mr-3" status='info' size="small" *ngIf='btnWiz4Show' (click)='onBtnWiz4Click()'>
              <nb-icon *ngIf="btnWiz4 === 'View'" icon="eye-outline"></nb-icon>
              <nb-icon *ngIf="btnWiz4 !== 'View'" icon="play-circle-outline"></nb-icon>
              {{btnWiz4}}
            </button>
            <button nbButton status='info' size="small" *ngIf='btnWiz4bShow' (click)='onBtnWiz4bClick()'>
              <nb-icon icon="upload-outline"></nb-icon>Import
            </button>
          </nb-step>
          <nb-step label="Pick default settings for your Organization" stepid="4">
            <h4>Pick default settings for your Organization</h4>
            <label *ngIf='lblWiz5Show'>{{lblWiz5}}</label>
            <button nbButton status='info' size="small" *ngIf='btnWiz5Show' (click)='onBtnWiz5Click()'>
              <nb-icon icon="play-circle-outline"></nb-icon>Get Started
            </button>
          </nb-step>
          <nb-step label="Enter 1 or more activites" stepid="5">
            <h4>Enter 1 or more projects</h4>
            <label *ngIf='lblWiz6Show'>{{lblWiz6}}</label>
            <button nbButton class="mr-3" status='info' size="small" *ngIf='btnWiz6Show' (click)='onBtnWiz6Click()'>
              <nb-icon *ngIf="btnWiz6 === 'View'" icon="eye-outline"></nb-icon>
              <nb-icon *ngIf="btnWiz6 !== 'View'" icon="play-circle-outline"></nb-icon>
              {{btnWiz6}}
            </button>
            <button nbButton status='info' size="small" *ngIf='btnWiz6bShow' (click)='onBtnWiz6bClick()'>
              <nb-icon icon="upload-outline"></nb-icon>Import
            </button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
      <nb-card-footer>
        <!-- <button size="tiny" nbButton (click)="onFreeStepper()">{{ stepButton }}</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col">

    <div *ngIf="isAdminTaskShow === 'view'">
      <nb-card status="success" size="midum">
        <nb-card-header>Admin Tasks</nb-card-header>
        <nb-card-body>
          <p-table [columns]="cols" [value]="_userOrgDisplay" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width:11em">Approve/Reject</th>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td style="text-align:center">
                  <div class="row">
                    <div class="col">
                      <button nbButton size="tiny" status="success" (click)="onApprove(rowData)" class="mr-2">
                        <nb-icon icon="checkmark-outline"></nb-icon>
                      </button>
                    </div>
                    <div class="col">
                      <button nbButton size="tiny" status="danger" (click)="onReject(rowData)">
                        <nb-icon icon="close-outline"></nb-icon>
                      </button>
                    </div>
                  </div>
                </td>
                <td *ngFor="let col of columns">
                  <span class="ui-column-title ui-column-title-button">
                    <button nbButton size="tiny" status="warning">{{col.header}}</button>
                  </span>
                  {{rowData[col.field]}}
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  No Admin tasks at this time.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </nb-card-body>
        <nb-card-footer></nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>