<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <nb-card status="success">
    <nb-card-header>EDIT MONITORING LOCATION</nb-card-header>
    <nb-card-body>
      <div class="form-row">
        <div class="form-group col-4">Mon Loc ID:</div>
        <div class="form-group col-8">
          <input type="text" id="focusField" name="txtMonLocID" class="form-control" [(ngModel)]="txtMonLocID"
            #vtxtMonLocID="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtMonLocID.invalid }" required
            maxlength="35">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Mon Loc Name:</div>
        <div class="form-group col-8">
          <input type="text" name="txtMonLocName" class="form-control" [(ngModel)]="txtMonLocName"
            #vtxtMonLocName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtMonLocName.invalid }" required
            maxlength="255">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Mon Loc Type:</div>
        <div class="form-group col-8">
          <nb-select name="ddlMonLocType" status="primary" [(selected)]="monlocTypeSelected" fullWidth>
            <nb-option *ngFor="let monlocType of monlocTypes" [value]="monlocType.value"> {{ monlocType.text }}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Mon Loc Desc:</div>
        <div class="form-group col-8">
          <textarea type="text" class="form-control" name="txtMonLocDesc" [(ngModel)]="txtMonLocDesc"
            #vtxtMonLocDesc="ngModel" rows="3" cols="30"
            [ngClass]="{ 'is-invalid': f.submitted && vtxtMonLocDesc.invalid }"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">8-Digit HUC:</div>
        <div class="form-group col-8">
          <input type="text" class="form-control" name="txtHUC8" [(ngModel)]="txtHUC8" #vtxtHUC8="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && vtxtHUC8.invalid }" maxlength="8">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">12-Digit HUC:</div>
        <div class="form-group col-8">
          <input type="text" class="form-control" name="txtHUC12" [(ngModel)]="txtHUC12" #vtxtHUC12="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && vtxtHUC12.invalid }" maxlength="12">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">On Tribal Land?:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-2">
              <nb-checkbox status="danger" [ngModel)]="chkLandInd" name="chkLandIndName" [checked]="chkLandInd">
              </nb-checkbox>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" name="txtLandName" [(ngModel)]="txtLandName"
                #vtxtLandName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtLandName.invalid }"
                maxlength="200">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Latitude:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-4">
              <input type="text" class="form-control" name="txtLatitude" [(ngModel)]="txtLatitude"
                #vtxtLatitude="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtLatitude.invalid }" required
                maxlength="12">
            </div>
            <div class="col-2">
              <label for="txtLongitude">Longitude:</label>
            </div>
            <div class="col-4">
              <input type="text" class="form-control" name="txtLongitude" [(ngModel)]="txtLongitude"
                #vtxtLongitude="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtLongitude.invalid }" required
                maxlength="14">
            </div>
            <div class="col-2">
              <button nbButton size="tiny" type="button" status="success" name="btnMap" (click)="onMapClicked()">
                <nb-icon icon="map"></nb-icon> Map
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Source Map Scale:</div>
        <div class="form-group col-8">
          <input type="text" class="form-control" name="txtSourceMapScale" [(ngModel)]="txtSourceMapScale"
            #vtxtSourceMapScale="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtSourceMapScale.invalid }"
            maxlength="12">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Horiz. Collection Method</div>
        <div class="form-group col-8">
          <nb-select name="ddlHorizMethod" status="primary" [(selected)]="horizCollMethodNameSelected" fullWidth>
            <nb-option *ngFor="let horizMethod of horizCollMethodNames" [value]="horizMethod.value"> {{
              horizMethod.value }}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Horiz. Reference Datum</div>
        <div class="form-group col-8">
          <nb-select name="ddlHorizDatum" status="primary" [(selected)]="horizDetumSelected" fullWidth>
            <nb-option *ngFor="let horizDatum of horizDatums" [value]="horizDatum.value"> {{ horizDatum.value }}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Vertical Measure:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-5">
              <input type="text" class="form-control" name="txtVertMeasure" [(ngModel)]="txtVertMeasure"
                #vxtVertMeasure="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vxtVertMeasure.invalid }"
                maxlength="12">
            </div>
            <div class="col-2">
              <label for="">Unit:</label>
            </div>
            <div class="col-5">
              <nb-select name="ddlVertUnit" status="primary" [(selected)]="vertUnitSelected" fullWidth>
                <nb-option *ngFor="let vertUnit of vertUnits" [value]="vertUnit.value"> {{ vertUnit.value }}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Vert. Collection Method</div>
        <div class="form-group col-8">
          <nb-select name="ddlHorizDatum" status="primary" [(selected)]="vertMethodSelected" fullWidth>
            <nb-option *ngFor="let vertMethod of vertMethods" [value]="vertMethod.value"> {{ vertMethod.value }}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Vert. Reference Datum</div>
        <div class="form-group col-8">
          <nb-select name="ddlVertDatum" status="primary" [(selected)]="vertDetumSelected" fullWidth>
            <nb-option *ngFor="let vertDetum of vertDetums" [value]="vertDetum.value"> {{ vertDetum.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">State</div>
        <div class="form-group col-8">
          <nb-select (selectedChange)="onStateSelected($event)" name="ddlState" status="primary"
            [(selected)]="stateSelected" fullWidth>
            <nb-option *ngFor="let state of states" [value]="state.value"> {{ state.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">County</div>
        <div class="form-group col-8">
          <nb-select (selectedChange)="onCountySelected($event)" name="ddlCounty" status="primary"
            [(selected)]="countySelected" fullWidth>
            <nb-option *ngFor="let county of counties" [value]="county.countyCode"> {{ county.countyName }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Country</div>
        <div class="form-group col-8">
          <nb-select (selectedChange)="onCountrySelected($event)" name="ddlCountry" status="primary"
            [(selected)]="countrySelected" fullWidth>
            <nb-option *ngFor="let country of countries" [value]="country.value"> {{ country.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Well Type</div>
        <div class="form-group col-8">
          <nb-select name="ddlWellType" status="primary" [(selected)]="wellTypeSelected" fullWidth>
            <nb-option *ngFor="let welltype of wellTypes" [value]="welltype.value"> {{ welltype.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Aquifer</div>
        <div class="form-group col-8">
          <input type="text" class="form-control" name="txtAquifer" [(ngModel)]="txtAquifer" #vtxtAquifer="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && vtxtAquifer.invalid }" maxlength="120">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Drainage Area:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-5">
              <input type="text" class="form-control" name="txtDrainageArea" [(ngModel)]="txtDrainageArea"
                #vtxtDrainageArea="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtDrainageArea.invalid }"
                maxlength="60">
            </div>
            <div class="col-2">
              <label for="">Unit:</label>
            </div>
            <div class="col-5">
              <nb-select name="ddlDrainageAreaUnit" status="primary" [(selected)]="drainageAreaSelected" fullWidth>
                <nb-option *ngFor="let drainageArea of drainageAreas" [value]="drainageArea.value"> {{
                  drainageArea.value }}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Contributing Drainage Area:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-5">
              <input type="text" class="form-control" name="txtContrDrainageArea" [(ngModel)]="txtContrDrainageArea"
                #vtxtContrDrainageArea="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && vtxtContrDrainageArea.invalid }" maxlength="60">
            </div>
            <div class="col-2">
              <label for="">Unit:</label>
            </div>
            <div class="col-5">
              <nb-select name="ddlContrDrainageAreaUnit" status="primary" [(selected)]="contrDrainageAreaSelected"
                fullWidth>
                <nb-option *ngFor="let contrDrainageArea of contrDrainageAreas" [value]="contrDrainageArea.value"> {{
                  contrDrainageArea.value }}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Aquifer Type Name</div>
        <div class="form-group col-8">
          <nb-select name="ddlAquiferTypeName" status="primary" [(selected)]="aquiferTypeNameSelected" fullWidth>
            <nb-option *ngFor="let aquiferTypeName of aquiferTypeNames" [value]="aquiferTypeName.value">
              {{
              aquiferTypeName.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">National Aquifer Code</div>
        <div class="form-group col-8">
          <nb-select name="ddlNationalAquiferCode" status="primary" [(selected)]="nationalAquiferCodeSelected"
            fullWidth>
            <nb-option *ngFor="let nationalAquiferCode of nationalAquiferCodes" [value]="nationalAquiferCode.value">
              {{
              nationalAquiferCode.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Local Aquifer Code</div>
        <div class="form-group col-8">
          <input type="text" class="form-control" name="txtLocalAquiferCode" [(ngModel)]="txtLocalAquiferCode"
            #vtxtLocalAquiferCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtLocalAquiferCode.invalid }"
            maxlength="120">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Local Aquifer Code Context</div>
        <div class="form-group col-8">
          <nb-select name="ddlLocalAquiferCodeCtx" status="primary" [(selected)]="localAquiferCodeCtxSelected"
            fullWidth>
            <nb-option *ngFor="let localAquiferCodeCtx of localAquiferCodeCtxs" [value]="localAquiferCodeCtx.value">
              {{
              localAquiferCodeCtx.value }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Local Aquifer Description Text</div>
        <div class="form-group col-8">
          <input type="text" class="form-control" name="txtLocalAquiferDesc" [(ngModel)]="txtLocalAquiferDesc"
            #vtxtLocalAquifeDesc="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtLocalAquifeDesc.invalid }"
            maxlength="512">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Formation Type Text</div>
        <div class="form-group col-8">
          <nb-select name="ddlFormationTypeText" status="primary" [(selected)]="formationTypeTextSelected" fullWidth>
            <nb-option *ngFor="let formationTypeText of formationTypeTexts" [value]="formationTypeText.value">
              {{
              formationTypeText.value }}</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">Construction Date</div>
        <div class="form-group col-8">
          <p-calendar appendTo="body" [showIcon]="true" hideOnDateTimeSelect="true" [(ngModel)]="txtConstructionDate"
            name="txtConstructionDate" showTime="true" hourFormat="24" [baseZIndex]="100000">
          </p-calendar>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">Drainage Area:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-5">
              <input type="text" class="form-control" name="txtDrainageArea" [(ngModel)]="txtDrainageArea"
                #vtxtDrainageArea="ngModel" [ngClass]="{ 'is-invalid': f.submitted && vtxtDrainageArea.invalid }"
                maxlength="60">
            </div>
            <div class="col-2">
              <label for="">Unit:</label>
            </div>
            <div class="col-5">
              <nb-select name="ddlDrainageAreaUnit" status="primary" [(selected)]="drainageAreaSelected" fullWidth>
                <nb-option *ngFor="let drainageArea of drainageAreas" [value]="drainageArea.value"> {{
                  drainageArea.value }}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Well Depth Measure:</div>
        <div class="form-group col-8">
          <div class="row">
            <div class="col-5">
              <input type="text" class="form-control" name="txtWellDepthMeasure" [(ngModel)]="txtWellDepthMeasure"
                #vtxtWellDepthMeasure="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && vtxtWellDepthMeasure.invalid }" maxlength="60">
            </div>
            <div class="col-2">
              <label for="">Unit:</label>
            </div>
            <div class="col-5">
              <nb-select name="ddlWellDepthMeasureUnit" status="primary" [(selected)]="wellDepthMeasureSelected"
                fullWidth>
                <nb-option *ngFor="let wellDepthMeasure of wellDepthMeasures" [value]="wellDepthMeasure.value"> {{
                  wellDepthMeasure.value }}
                </nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">Active?</div>
        <div class="form-group col-8">
          <nb-checkbox status="danger" [(ngModel)]="chkActInd" name="chkActIndName" [checked]="chkActInd"></nb-checkbox>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">Send to EPA</div>
        <div class="form-group col-8">
          <nb-checkbox status="danger" [(ngModel)]="chkWQXInd" name="chkWQXIndName" [checked]="chkWQXInd"></nb-checkbox>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="submit" status="success" name="btnSave" class="mr-3">
        <nb-icon icon="save-outline"></nb-icon> Save & Exit
      </button>
      <button nbButton type="button" status="danger" (click)="onBtnCancelClicked()" name="btnCancel">
        <nb-icon icon="close-square-outline"></nb-icon> Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</form>